<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<head>
	<meta charset="UTF-8">
	<title>Ingredient list</title>
</head>

<body>
	<p align="right">Hello, <b sec:authentication="name"></b>,
		role = <b sec:authentication="principal.authorities"></b></p>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Unit price</th>
		</tr>
		<tr th:each="ingredient : ${ingredients}">
			<td th:text="${ingredient.name}"></td>
			<td th:text="${ingredient.unitprice}"></td>
			<td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/editingredient/{id}(id=${ingredient.id})}"
					class="btn btn-primary">Edit</a></td>
		</tr>
	</table>

	<br>
	<a sec:authorize="hasAuthority('ADMIN')" href="/addingredient" class="btn btn-primary">Add ingredient</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/recipelist" class="btn btn-primary">Go to recipe page</a>
	<br>
	<br>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
	</form>

</body>

</html>