<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<head>
	<meta charset="UTF-8">
	<title>Recipe list</title>
</head>

<body>
	<p align="right">Hello, <b sec:authentication="name"></b>,
		role = <b sec:authentication="principal.authorities"></b></p>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Allergen</th>
			<th>Difficulty</th>
			<th>Total time</th>
			<th>Servings</th>
			<th>Ingredients</th>
			<th>Price</th>
			<th>Instructions</th>
			<th>Cuisine</th>
		</tr>
		<tr th:each="recipe : ${recipes}">
			<td th:text="${recipe.name}"></td>
			<td th:text="${recipe.allergen}"></td>
			<td th:text="${recipe.difficulty}"></td>
			<td th:text="${recipe.totaltime}"></td>
			<td th:text="${recipe.servings}"></td>
			<td>
				<span th:each="ingredient : ${recipe.ingredients}">
					<span th:text="${ingredient.name}"></span><br />
				</span>
			</td>
			<td>
				<span th:each="ingredient : ${recipe.ingredients}">
					<span th:if="${ingredient.unitprice != 0.0}" th:text="${ingredient.unitprice}"></span><br />
				</span>
			</td>
			<td>
				<span th:text="${recipe.instructions}"></span>
			</td>
			<td th:text="${recipe.cuisine != null ? recipe.cuisine.name : ''}"></td>
			<td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/editrecipe/{id}(id=${recipe.id})}"
					class="btn btn-primary">Edit</a></td>
			<td><a sec:authorize="hasAuthority('ADMIN')" th:href="@{/delete/{id}(id=${recipe.id})}"
					class="btn btn-danger">Delete</a></td>
		</tr>
	</table>

	<br>
	<a sec:authorize="hasAuthority('ADMIN')" href="/addrecipe" class="btn btn-primary">Add recipe</a>
	<a sec:authorize="hasAuthority('ADMIN')" href="/ingredientlist" class="btn btn-primary">Go to ingredient page</a>
	<br>
	<br>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
	</form>

</body>

</html>